################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RecreationalClubApp/.vs/RecreationalClubApp/v17/.suo
